@keyframes spin_words {
    10% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(0%);
    }
    35% {
        transform: translateY(50%);
    }
    50% {
        transform: translateY(50%);
    }
    85% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(0%);
    }
}

.animate-movingImagination {
    animation: spin_words 4s ease-in-out infinite;
}