@keyframes spin_words {
    0%, 100% {
        transform: translateY(-100%);
    }
    10%, 90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

.animate-movingImagination {
    animation: spin_words 4s ease-in-out infinite;
}